<%= form_for(@meeting) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.email_field :invitee %>
    <%= f.select :frequency, [1,2,4]%>
    <%= f.select :type, ["Work Hours", "Personal Hours"]%>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>